---
layout: default
title: Home
---

<div class="posts">
  
  <h2> About Me</h2>

  <p>   
    I am currently working as an assistant professor at Shanghai Institute for Mathematics and Interdisciplinary Sciences (SIMIS). Before joining SIMIS, I was a joint postdoc at <a href="http://www.bimsa.cn" target="_blank" rel="noopener noreferrer">BIMSA</a> and <a href="https://ymsc.tsinghua.edu.cn/cn" target="_blank" rel="noopener noreferrer">YMSC, Tsinghua</a>. I received my PhD degree in physics at <a href="https://www.phys.vt.edu" target="_blank" rel="noopener noreferrer">Virginia Tech</a>.
  </p>
  
  
  <h2> Contact </h2>
  <p>
  Shanghai Institute for Mathematics and Interdisciplinary Sciences <br>Yangpu District, Shanghai 200433, China
  </p>  
  <p>
  Office: 6th Floor, Building 3, KIC Enterprise Center<br> E-mail: hzou "at" vt.edu
  </p>
  
  
  <p style="font-size:18px";> <strong>Useful links:</strong> 
    <br>
    <a href="https://ymsc-strings.github.io" target="_blank" rel="noopener noreferrer">String Group at YMSC</a> | 
    <a href="https://www.stringwiki.org/wiki/String_Theory_Wiki" target="_blank" rel="noopener noreferrer">String Theory Wiki</a> | 
    <a href="http://mathsci.kaist.ac.kr/~jinhyun/useful.html" target="_blank" rel="noopener noreferrer">Some mathematical resources</a> |
    <a href="http://researchseminars.org" target="_blank" rel="noopener noreferrer">Online seminars</a> 
  </p>
</div>


<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
