<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li><a href="/research">Research</a></li>
        		<li><a href="/cv">CV</a></li>
    		</ul>
		</nav>
		
		<div class="container">
    
    {{ content }}
    
		</div><!-- /.container -->
		<footer>
		<p style="text-align:right;font-family:'Courier New';font-size: 15px"> Last updated: Jun, 2021 </p>
		</footer>
	</body>
</html>
