<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/cv">CV</a></li>
    		</ul>
		</nav>
		{{ site.time }}
		
		<div class="container">
    
    {{ content }}
    
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:hzou@vt.edu">email</a></li>
        		<li><a href="https://inspirehep.net/authors/1056827">inspire-hep</a></li>
			<li><a href="https://arxiv.org/search/hep-th?query=Zou%2C+Hao&searchtype=author&abstracts=show&order=-announced_date_first&size=50">arXiv</a></li>
			</ul>
		</footer>
	</body>
</html>
